.card{
    width:24rem;
    height:28rem;
    margin-left: 35rem;
    margin-top: 6rem;
}

.avtar{
    width: 7rem;
    height: 8rem;
    margin-left: 8rem;
    margin-top: 4rem;
}

h6{
    font-family: cursive;
    margin-left: 3rem;
    color: blue;
    font-style: italic;
}